.card {
  width: 300px;
  padding: 40px 25px;

  background: #2c2f3f;
  border-radius: 12px;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  transition: 0.3s;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}


.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
}

.card-icon {
  width: 70px;
  height: 70px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 2px solid #fff;
  border-radius: 10px;

  margin-bottom: 20px;
}

.card-icon img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

/* TÍTULO */
.card h2 {
  font-size: 24px;
  color: #fff;
  margin-bottom: 15px;
}

/* DESCRIÇÃO */
.card p {
  font-size: 15px;
  color: #b0b3c7;
  line-height: 1.6;
}