.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  z-index: 1000;

  background: transparent;
  backdrop-filter: blur(10px);
}


.nav-container {
  max-width: 1200px;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 20px 40px;
}

/* LOGO */
.logo {
  color: white;
  font-size: 22px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
}

.nav-links a {
  text-decoration: none;
  color: #ccc;
  font-size: 4vh;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #0073ff;
}